.carousel-img1{
    background: url(../../images/carousel-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.carousel-img2{
    background: url(../../images/carousel-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.carousel-img3{
    background: url(../../images/carousel-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.carousel-caption{
    max-width: 900px;
    padding: 20px;
    margin-bottom: 100px;
}

.carousel-caption h3{
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    width: 560px;
    height: 190px;
    text-align: left;
}

.carousel-caption p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 136%;
    width: 377px;
    height: 109px;
    text-align: left;
}

.carousel-caption button{
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 136%;
    display: inline-flex;
    padding: 9px 31px 7px 32px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 291px;
    border-radius: 50px;
    background: #FFF;
    border: none;
}

.carousel-caption ul{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 136%;
    text-align: left;
    list-style-type: none;
    padding: 0;
    width: 260px;
}
  
@media screen and (max-width: 768px) {
    div.carousel-indicators{
        display: none;
    }
    span.carousel-control-next-icon{
        position: relative;
        top: 250px;
        right: 100px;
    }
    span.carousel-control-prev-icon{
        position: relative;
        top: 250px;
        left: 100px;
    }

    .carousel-img1{
        background-position: center center;
    }
    
    .carousel-img2{
        background-position: center center;

    }
    
    .carousel-img3{
        background-position: center center;
    }
    .carousel-caption{
        padding: 0;
    }
    .carousel-caption h3{
        width: 280px;
        height: 190px;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        margin-bottom: 0;
    }
    .carousel-caption p{
        width: 280px;
        height: 109px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 136%;
        margin-bottom: 0;
    }
    .carousel-caption button{
        position: static;
        margin-bottom: 27px;
    }
    .carousel-caption ul{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
    }

}